<div class="accordion-item bg-dark border-secondary">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-dark text-white shadow-none" type="button" data-bs-toggle="collapse">
            <!-- Testo Giorno -->
        </button>
    </h2>
    <div class="accordion-collapse collapse">
        <div class="accordion-body p-0">
            <div class="list-group list-group-flush">
                <!-- I link finiscono qui -->
            </div>
        </div>
    </div>
</div>
