<div class="col">
    <div class="card h-100 bg-dark border-0 shadow-sm transition-transform position-relative group">
        <!-- Pulsante Aggiungi alla Lista -->
        <button id="btn-add-list" class="align-items-center bg-dark border-0 btn btn-sm d-flex end-0 justify-content-center me-1 mt-1 position-absolute rounded-circle top-0 z-3 text-secondary" 
                style="width: 32px; height: 32px;" title="Aggiungi alla mia lista">
            <i class="bi bi-heart"></i>
        </button>

        <a id="link-serie" href="javascript:void(0)" class="text-decoration-none btn-serie h-100">
            <div class="position-relative overflow-hidden rounded">
                <img id="img" src="" class="card-img p-thumb img-fluid" style="aspect-ratio: 2/3; object-fit: cover;">
            </div>
            <div class="card-body p-2 text-center">
                <h6 id="title-serie" class="card-title text-light small mb-0"></h6>
            </div>
        </a>
    </div>
</div>
