<div class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div id="confirmHeader" class="modal-header text-white">
                <h5 class="modal-title"><i class="bi me-2" id="confirmIcon"></i>Conferma</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body fs-5 py-4" id="confirmMessage"></div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" id="confirmButton" class="btn">Procedi</button>
            </div>
        </div>
    </div>
</div>