<div class="accordion-item bg-dark border-secondary">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed bg-dark text-white shadow-none" type="button"
            data-bs-toggle="collapse">
            <span id="title" class="text-info fw-bold"></span>
        </button>
    </h2>
    <div id="lista-episodi" class="accordion-collapse collapse" data-bs-parent="#accStagioni">
        <div class="accordion-body p-0">
            <ul class="list-group list-group-flush"></ul>
        </div>
    </div>
</div>