<div class="wrapper container">
    <div class="container my-4">
        <h2 id="title" class="text-white mb-4 border-start border-primary border-4 ps-3"></h2>
        <div id="card" class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-3"></div>
        <nav id="navigation" style="border-bottom-style: dotted !important;" class="border-bottom border-info d-flex justify-content-center my-5 position-relative w-100" aria-label="Paginazione">
            <ul class="pagination m-0">

            </ul>
        </nav>
    </div>
</div>
